<footer class="footer">
    <div class="container">
        <div class="footer__cont flex cv sb">
            <div class="footer__left flex">
                <a href="#" class="text">Услуги и поддержка</a>
                <a href="#" class="text">Сервисы для бизнеса</a>
                <a href="#" class="text">Общая информация </a>
                <a href="#" class="text">Защита бизнеса</a>
            </div>
            <div class="footer__info flex">
                <a href="mailto:service@in-line.ru" class="text">service@in-line.ru</a>
                <a href="tel:88002007430" class="text"> 8-800-200-74-30</a>
            </div>
        </div>
    </div>
</footer>

<script src="js/app.min.js"></script>
<script src="js/script.js"></script>
