.footer {
  background-color: var(--dark-grey);

  // .footer__cont
  &__cont {
    color: var(--white);
    min-height: 86px;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  // .footer__left
  &__left {
    column-gap: 47px;
    flex-wrap: wrap;

    @include md {
      gap: 20px;
    }
  }

  // .footer__info
  &__info {
    column-gap: 34px;
  }

  .text {
    transition: .3s;

    &:hover {
      color: var(--orange);
    }
  }
}