@use "sass:math";

// <НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================
$fontFamily: "Circe";
$fontSize: 16;
$mainColor: #1a1a1a;
$maxWidthContainer: 1164px;
@import "base/base";
// </НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================

body {

  font-size: $fontSize + px;
  line-height: math.div(24, $fontSize);
  font-family: $fontFamily, sans-serif;


  @include lg {
    font-size: 14px;
    line-height: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  width: 100%;

  >main {
    overflow: hidden;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

//<ОСНОВНАЯ СЕТКА>============================================================================================================================
.container {
  max-width: $maxWidthContainer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;

  @include md {
    padding: 0 10px;
  }
}

.swiper-wrapper {
  display: flex;
}

//</ОСНОВНАЯ СЕТКА>============================================================================================================================

// Компоненты
@import "../components/header/header";
@import "../components/footer/footer";

// Подключение стилей отдельных страниц
@import "./pages/main";